form{
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  border: #000 solid 10px;
  flex-direction: column;
}

.calculatorDisplay {
  display: flex;
  text-align: right;
  margin-bottom: 10px;
  border: #000 solid 1px;
  padding: 5px;
  background-color: #ccc;
  font-size: 2em;
  width: 89%;
  flex-direction: column;
  gap: 5px;
}

.calculatorButtons {
  display: flex;
  gap: 5px;
  border: #000 solid 1px;
  margin: 0 auto;
  width: 90%;
}

.calculatorNumbers, .calculatorOperators {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.calculatorNumbers:first-child button.number:last-child {
  width: 203%;
  font-size: 2em;
}

button {
font-size: 2em;
height: 50px;
background-color: #eee;
border: none;
}

button:hover {
  background-color: #ddd;
  cursor: pointer;
}

button:active {
  background-color: #ccc;
  transform: scale(0.95);
}
